@using WatchioOnlineShop.Models;
@model IEnumerable<categorie>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Bonjour @User.Identity.Name, CRUD CATEGORIE</h1>
<hr>

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Liste Des Categories</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nouvel Categorie</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border ">
        <thead class="thead-dark">
            <tr class="table-info ">
                <th>
                    Categorie
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            @foreach (var item in Model) { 
             <tr>
                <td>@item.name</td>
                <td>
                    <partial name="_BoutonPartial" model="@item.Id" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["creer"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["modifier"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["supprimmer"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}
